backend/.idea/
backend/backend/.env
frontend/.env

backend/backend/__pycache__/
backend/contest_platform/__pycache__/

backend/contest_platform/migrations/__pycache__/
__pycache__/

backend/contest_platform/utils/__pycache__/
*.env
.DS_Store

get-pip.py
migrations