[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sphinx-needs = "*"
"sphinxcontrib.plantuml" = "*"
djangorestframework = "*"
django-cors-headers = "*"
psycopg = "*"
pre-commit = "*"
python-dotenv = "*"

[dev-packages]
sphinx = "*"
"sphinxcontrib.httpdomain" = "*"
sphinxcontrib-mermaid = "*"

[requires]
python_version = "3.12"
