.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 200px;
}

.back {
    color: #95C21E;
}

.green-bold { 
    color: #95C21E;
    font-weight: bold;
}

.description, .dates, .contest-type {
    margin-top: 20px;
}

.dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contest-type {
    display: flex;
}